body {

	background-color: #000;
	color: #fff;
	font-family: "Avenir";
}


p {

	font-size: 1.2em;
	line-height: 1.5em;
	margin: 20px;
	font-family: serif;
	text-align: justify;

}


h1, h2, h3 {

	text-align: center;
}


nav {
	font-size: 0.8em;
	text-transform: uppercase;
	text-align: center;
	color: #777;
}


a {

	text-decoration: none;
	color: orange;
	font-weight: bold;
}

a:hover {

	color: red;
	font-weight: bold;
}

a:active {

	text-decoration: overline;
	color: yellow;
	font-weight: bold;
}

figcaption {

font-size: 0.5em;
font-family: sans-serif;
text-align: center;
text-transform: uppercase;
padding-top: 5px;

}

video {

width: 400px;
display: block;
margin: 0 auto;

}

img {
padding-top: 50px;
display: block;
margin: 0 auto;

}

iframe {

display: block;
margin: 0 auto;

}

blockquote {

	padding-left: 100px;
	padding-right: 100px;

}


blockquote p {

	text-align: justify;
	font-size: 1.9em;
	line-height: 1.2em;
	font-family: serif;
	letter-spacing: -1px;

}


footer {

	text-align: center;
	font-size: .75em;
	line-height: 1.5em;
	font-family: serif;
	padding-top: 30px;
	padding-bottom: 30px;

}

ul {

	padding-left: 120px;

}

table {

	background-color: #666;

}

th {

	font-size: .75em;
	line-height: 1.5em;
	color: #ddd;
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
	text-transform: uppercase;
}

td {

	font-size: .5em;
	width: 200em;
	text-align: center;
	padding-bottom: 2em;
}


.quotation
{
	font-size: 2em;
}

.author_name
{
	font-size: 1.5em;
	text-align: right;
	line-height: 1em;
}

.quotation_source
{
	font-size: .7em;
	text-align: right;
	line-height: 1em;
}

#poem_title
{
	font-size: 6em;
	line-height: 60%;
	text-align: center;
}

.poem
{
	font-size: 1.5em;
	padding-left: 100px;
	padding-right: 100px;

}

.poem_author
{
	font-size: 1.5em;
	text-align: right;
	line-height: 1em;
	padding-left: 100px;
	padding-right: 100px;

}

.poem_source
{
	font-size: .7em;
	text-align: right;
	line-height: 1em;
}

#exclaim {

	font-size: 12em;
	text-align: center;
	font-family: serif;

}

.wrapper {
  width: 800px;
  margin: 0 auto;
  background: url(../images/lowresgarden.jpg);
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
}